<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.html" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.php" />
                <add value="index.aspx" />
                <add value="Default.aspx" />
                <add value="index.py" />
                <add value="index.pl" />
            </files>
        </defaultDocument>
            <staticContent>
                <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
                <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            </staticContent> 
    </system.webServer>
</configuration>
